
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
}

header {
    background-color: black;
    color: white;
    padding: 20px;
}

section {
    padding: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: white;
    margin: 5px auto;
    padding: 10px;
    width: 50%;
    border-radius: 5px;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
}
